<configuration scan="true">
    <if condition='property("os.name").toUpperCase().startsWith("WIN")'>
        <then>
            <property name="LOG_FILE" value="${APPDATA}\\Coinffeine\\Coinffeine.log" />
        </then>
    </if>
    <if condition='property("os.name").toUpperCase().startsWith("MAC")'>
        <then>
            <property name="LOG_FILE"
                      value="${user.home}/Library/Application Support/Coinffeine/Coinffeine.log"/>
        </then>
    </if>
    <if condition='property("os.name").toUpperCase().startsWith("LIN")'>
        <then>
            <property name="LOG_FILE" value="${user.home}/.coinffeine/Coinffeine.log" />
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.15thread] %.3level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="coinffeine" level="DEBUG"/>
    <logger name="coinffeine.peer.bitcoin.BitcoinPeerActor" level="INFO"/>
    <logger name="coinffeine.gui.application.stats" level="INFO"/>

    <logger name="com.google.bitcoin" level="ERROR"/>
    <logger name="org.bitcoin" level="ERROR"/>
    <logger name="org.bitcoinj" level="ERROR"/>

    <logger name="net.tomp2p" level="WARN"/>
    <logger name="com.romix.akka.serialization.kryo" level="WARN"/>


    <logger name="com.ning.http" level="WARN"/>

    <logger name="com.gargoylesoftware.htmlunit" level="OFF"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="OFF"/>
    <logger name="org.apache.commons.httpclient" level="OFF"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
