/* This file defines the styles for the about dialog. */

#about-pane {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-min-width: 720px;
    -fx-max-width: 720px;
    -fx-min-height: 350px;
    -fx-max-height: 350px;
    -fx-padding: 30px;
    -fx-spacing: 30px;
}

#about-pane .button {
    -fx-color: -cf-main1;
    -fx-min-width: 80;
}

#about-pane HBox {
    -fx-spacing: 50px;
}

#about-pane .productinfo {
    -fx-alignment: center;
}

#about-pane .authorinfo {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#about-pane .title {
    -fx-font-size: 30;
}

#about-pane .avatar {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

#about-pane .author-list {
    -fx-font-weight: bold;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}
