/* This file defines the styles for the about dialog. */

#about-pane {
    -fx-alignment: center;
    -fx-min-width: 720px;
    -fx-max-width: 720px;
    -fx-min-height: 320px;
    -fx-max-height: 320px;
    -fx-padding: 30px;
    -fx-spacing: 30px;
}

#about-pane HBox {
    -fx-spacing: 50px;
}

#about-pane .productinfo {
    -fx-alignment: center;
}

#about-pane .authorinfo {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#about-pane .title {
    -fx-font-size: 30;
}

#about-pane .avatar {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

#about-pane .author-list {
    -fx-font-weight: bold;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}
