/* This file defines the styles for button controls. */

.button {
    -fx-background-color: -fx-color;
    -fx-background-radius: 8;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-min-height: 24;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.button:disabled {
    -fx-background-color: -cf-gray4;
}

.button:hover {
    -fx-background-color: #54b8e0;
    -fx-cursor: hand;
}

.button:focused {
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, #5dcef9, 5, 0, 0, 0);
}

.button:armed {
    -fx-background-color: derive(-fx-color, -40%);
    -fx-cursor: hand;
}

.action-button {
    -fx-color: -cf-main1;
    -fx-min-width: 120;
}

.rounded-button {
    -fx-background-radius: 100%;
    -fx-background-color: -fx-color;
    -fx-text-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 8;
    -fx-size: 20;
    -fx-min-width: -fx-size;
    -fx-max-width: -fx-size;
    -fx-min-height: -fx-size;
    -fx-max-height: -fx-size;
}

.rounded-button:hover {
    -fx-background-color: derive(-fx-color, -20%);
}

.rounded-button:armed {
    -fx-background-color: derive(-fx-color, -40%);
}
