/* This file defines the styles for button controls. */

.button {
    -fx-background-color: col1;
    -fx-background-radius: 6;
    -fx-padding: 0.166667em 1.233333em 0.25em 1.233333em;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.button:hover {
    -fx-background-color: derive(col1, -20%);
    -fx-cursor: hand;
}

.button:armed {
    -fx-background-color: derive(col1, -40%);
    -fx-cursor: hand;
}
