/* This file defines the styles for custom controls. */

.CurrencyTextField-symbol {
    -fx-padding: 0 5px 0 5px;
    -fx-background-color: #51350C;
    -fx-background-radius: 2;
    -fx-font-size: 10;
}

.CurrencyTextField-symbol Label {
    -fx-text-fill: white;
}

.status-disc {
    -fx-fill: good;
}

.status-disc:failure {
    -fx-fill: bad;
}

.spinner {
    -fx-font-size: 11px;
    -fx-alignment: center;
    -fx-min-height: 35px;
    -fx-padding: 5px;
}

.spinner > .bar {
    -fx-background-color: dark-background;
}
