/* This file defines the styles for custom controls. */

.check-box > .box {
    -fx-background-color: white;
    -fx-border-color: -cf-gray4;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-cursor: hand;
}

.check-box:focused > .box {
    -fx-effect: dropshadow(gaussian, derive(-cf-main1, -20%), 10, 0, 0, 0);
}

.currency-text-field { -fx-font-size: 20; }

.currency-text-field .symbol {
    -fx-font-size: 20;
    -fx-padding: 0 5px 0 5px;
}

.currency-text-field .symbol .label {
    -fx-font-weight: 800;
    -fx-text-fill: #424242;
}

.glyph-toggle {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.glyph-toggle > .toggle-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-text-fill: -cf-background;
}

.glyph-toggle > .toggle-button:hover { -fx-text-fill: derive(-cf-background, -20%); }
.glyph-toggle > .toggle-button:selected { -fx-text-fill: -cf-main1; }

.glyph-toggle > .label {
    -fx-font-size: 16;
    -fx-text-fill: -cf-background;
}

.glyph-toggle > .label:selected { -fx-text-fill: -cf-main1; }

.progress-bar {
    -fx-min-width: 150;
    -fx-background-color: derive(-fx-color, 80%);
    -fx-background-radius: 3;
}

.progress-bar > .track {
    -fx-background-color: transparent;
}

.status-disc .disc {
    -fx-size: 18;
    -fx-color: -cf-main1;

    -fx-alignment: baseline-center;
    -fx-font-size: 6;
    -fx-background-color: derive(-fx-color, -20%), -fx-color;
    -fx-background-radius: 100%, 100%;
    -fx-background-insets: 0, 1;
    -fx-max-width: -fx-size;
    -fx-min-width: -fx-size;
    -fx-max-height: -fx-size;
    -fx-min-height: -fx-size;
    -fx-padding: 0 0 2 0;
    -fx-text-fill: derive(-fx-color, -20%) !important;
}

.status-disc:failure .disc { -fx-color: -cf-gray4; }

.spinner {
    -fx-font-size: 11px;
    -fx-alignment: center;
    -fx-min-height: 35px;
    -fx-padding: 5px;
}

.spinner > .bar { -fx-fill: -fx-color; }

.order-status {
    -fx-spacing: 2;
    -fx-min-width: 150;
}

.order-status .message {
    -fx-font-size: 16;
    -fx-text-fill: -fx-color;
    -fx-alignment: center;
    -fx-max-width: 9999;
}

.order-status .spinner {
    -fx-scale-y: 0.7;
    -fx-scale-x: 0.7;
    -fx-min-height: 20;
}

.order-status .spinner .bar {
    -fx-fill: derive(-fx-color, 50%);
}

.order-status .bar {
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-background-color: derive(-fx-color, 80%);
    -fx-background-radius: 7;
}

.order-status .section1,
.order-status .section2,
.order-status .section3 {
    -fx-padding: 0;
    -fx-max-width: 50;
    -fx-border-color: derive(-fx-color, 50%);
}

.order-status .section1:filled,
.order-status .section2:filled,
.order-status .section3:filled {
    -fx-background-color: -fx-color;
    -fx-border-width: 0;
}

.order-status .section1 {
    -fx-background-radius: 8 0 0 8;
    -fx-border-width: 0 2 0 0;
}

.order-status .section2 {
    -fx-border-width: 0 2 0 0;
}

.order-status .section3 {
    -fx-background-radius: 0 8 8 0;
    -fx-border-width: 0;
}

.popover > .content {
    -fx-padding: 8;
}

.popover > .border {
    -fx-effect: null !important;
}

.radio-button > .radio  {
    -fx-background-color: -cf-background, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 100%;
    -fx-max-height: 5;
}

.radio-button:focused > .radio  {
    -fx-effect: dropshadow(gaussian, derive(-cf-main1, -20%), 10, 0, 0, 0);
}

.support-icon {
    -fx-text-fill: -cf-gray3;
    -fx-padding: 0 5;
    -fx-font-size: 40;
}

.support-icon:hover {
    -fx-cursor: hand;
}
