/* Styles of the wallet funds dialog */

.wallet-funds {
    -fx-background-color: white;
    -fx-padding: 20 60 40 60;
    -fx-alignment: center;
    -fx-font-size: 16;
}

.wallet-funds .header {
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-padding: 0 0 20 0;
}

.wallet-funds .funds-table {
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-font-weight: light;
}

.wallet-funds .amount-label {
    -fx-font-size: 12;
    -fx-alignment: bottom-right;
}

.wallet-funds .amount .label {
    -fx-text-fill: -cf-main1;
}
