
GridPane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#main-root-pane {
    -fx-pref-width: 1024;
    -fx-pref-height: 600;
}

#tool-bar Separator {
    -fx-padding: 0 10;
}

#view-selector ToggleButton:disabled {
    -fx-color: black;
}

#balance-widget {
    -fx-border-style: solid;
    -fx-border-radius: 5;
}
#balance-widget .currency-label {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 5 0 0 5;
}
.BTC-label {
    -fx-background-color: #AACCAA;
}
.EUR-label {
    -fx-background-color: #99CCFF;
}
.non-current .balance {
    -fx-graphic: url('../graphics/warning.png');
}

#status Separator {
    -fx-padding: 0 5;
}
#status {
    -fx-background-color:
        -fx-outer-border,
        derive(TOP-COLOR,25%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0, 1 0 0 0, 2 0 0 0;
}

.title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.smalltext {
    -fx-font-size: 11px;
}

.indented {
    -fx-padding: 0 0 0 30px;
}

.button-hpane {
    -fx-spacing: 50px;
    -fx-alignment: center;
}

.root-pane {
    -fx-padding: 20px;
}
