Separator {
    -fx-padding: 0 10;
}

#view-selector ToggleButton:disabled {
    -fx-color: black;
}

#balance-widget {
    -fx-border-style: solid;
    -fx-border-radius: 5;
}
#balance-widget .currency-label {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 5 0 0 5;
}
.BTC-label {
    -fx-background-color: #AACCAA;
}
.EUR-label {
    -fx-background-color: #99CCFF;
}
