
GridPane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#main-root-pane {
    -fx-pref-width: 1024;
    -fx-pref-height: 600;
}

#tool-bar Separator {
    -fx-padding: 0 10;
}

#view-selector ToggleButton:disabled {
    -fx-color: black;
}

.balance {
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #aaa;
    -fx-border-style: solid;
    -fx-border-radius: 0 4 4 0;
    -fx-padding: 0 5;
}
.currency-label {
    -fx-background-radius: 4 0 0 4;
}
.BTC-label {
    -fx-background-color: #e71;
    -fx-text-fill: white;
}
.EUR-label {
    -fx-background-color: #490;
    -fx-text-fill: white;
}

#status Separator {
    -fx-padding: 0 5;
}
#status {
    -fx-background-color:
        -fx-outer-border,
        derive(TOP-COLOR,25%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0, 1 0 0 0, 2 0 0 0;
}

.title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.smalltext {
    -fx-font-size: 11px;
}

.indented {
    -fx-padding: 0 0 0 30px;
}

.button-hpane {
    -fx-spacing: 50px;
    -fx-alignment: center;
}

.root-pane {
    -fx-padding: 20px;
}
