/* This file defines the styles for the main window. */

#main-root-pane {
    -fx-background-color: -cf-light-background;
}

#top-bar {
    -fx-min-height: 50px;
    -fx-background-color: -cf-dark-background;
    -fx-background-image: url("../graphics/topbar-logo.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.tech-preview #top-bar {
    -fx-background-image: url("../graphics/topbar-logo-tech-preview.png");
}

#payment-processor {
    -fx-spacing: 5;
    -fx-padding: 0 20 0 0;
    -fx-alignment: center-right;
    -fx-font-family: 'Open Sans';
}

#payment-processor .legend {
    -fx-alignment: center-right;
}

#payment-processor .label {
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: bottom-right;
}

#payment-processor .name,
#payment-processor .glyph-icon {
    -fx-cursor: hand;
}

#payment-processor .name {
    -fx-font-weight: bold;
    -fx-alignment: top-right;
    -fx-line-height: 10;
}

#payment-processor .glyph-icon {
    -fx-text-fill: #de6d16;
    -fx-background-color: white;
    -fx-background-radius: 100%;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-alignment: center;
}

#control-bar {
    -fx-max-height: 125px;
    -fx-min-height: 125px;
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -cf-background;
}

#balance-pane {
    -fx-padding: 10 20 10 20;
    -fx-min-width: 250;
}

#balance-pane .title-amount {
    -fx-font-size: 18;
    -fx-font-weight: 300;
    -fx-text-fill: #797979;
}

#balance-pane .title-suffix {
    -fx-font-size: 18;
    -fx-font-weight: 800;
    -fx-text-fill: #797979;
}

#balance-pane .currency .label {
    -fx-font-size: 24;
    -fx-text-fill: -cf-main1;
}

#view-selector-pane {
    -fx-alignment: center;
}

#view-selector-pane .toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #c8b9b3;
    -fx-font-size: 16;
    -fx-font-weight: 300;
    -fx-border-color: #c8b9b3;
    -fx-border-width: 0 0 2 0;
    -fx-min-width: 160;
}

#view-selector-pane .toggle-button:selected {
    -fx-opacity: 1.0;
    -fx-text-fill: #815f52;
    -fx-border-color: #815f52;
}

#view-selector-pane .toggle-button:hover {
    -fx-cursor: hand;
}

#control-pane { -fx-min-width: 300; }

#center-pane {
    -fx-padding: 20 50 20 50;
}
