/* This file defines the styles for the main window. */

#top-bar {
    -fx-min-height: 50px;
    -fx-background-color: dark-background;
    -fx-background-image: url("../graphics/topbar-logo.png");
    /* -fx-background-position: center -50px; */
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}


/*
 * The following properties are deprecated.
 * Please remove them as they are not used.
 */

GridPane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#main-root-pane {
    -fx-pref-width: 1024;
    -fx-pref-height: 600;
}

#view-selector ToggleButton:disabled {
    -fx-color: black;
}

.balance {
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #aaa;
    -fx-border-style: solid;
    -fx-border-radius: 0 4 4 0;
    -fx-border-insets: 1 0 1 0;
    -fx-padding: 0 5;
}
.currency-label {
    -fx-background-radius: 4 0 0 4;
}
.BTC-label {
    -fx-background-color: #e71;
    -fx-text-fill: white;
}
.EUR-label {
    -fx-background-color: #490;
    -fx-text-fill: white;
}

#center-pane {
    -fx-alignment: bottom-right;
}

#notification-summary {
    -fx-alignment: center-right;
}

#notification-details {
    -fx-max-width: 300px;
    -fx-max-height: 100px;
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-border-color: #a6a6a6;
    -fx-border-radius: 5px 5px 0 0;
    -fx-border-width: 1 1 0 1;
}

.title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.smalltext {
    -fx-font-size: 11px;
}

.indented {
    -fx-padding: 0 0 0 30px;
}

.button-hpane {
    -fx-spacing: 50px;
    -fx-alignment: center;
}

.root-pane {
    -fx-padding: 20px;
}
