/* This file defines the styles for the operations view. */

#operations-center-pane {
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

#operations-buttons-pane {
    -fx-spacing: 10px;
}

.operations-bid-icon {
    -fx-image: url('../graphics/operations/bid.gif');
}

.operations-ask-icon {
    -fx-image: url('../graphics/operations/ask.gif');
}

#operations-details-pane {
    -fx-hgap: 5px;
    -fx-vgap: 10px;
    -fx-padding: 10px;
    -fx-height: 200px;
}

#operations-details-pane .field-name {
    -fx-label-padding: 0 0 0 10px;
}

#operations-details-pane .field-value {
    -fx-font-weight: bold;
}

#operations-submit-content-pane {
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

#operations-submit-fee-summary {
    -fx-spacing: 5px;
    -fx-font-size: 11px;
    -fx-alignment: baseline-left;
}

#operations-submit-fee-summary HBox {
    -fx-alignment: baseline-left;
}

.operations-submit-declaration-pane {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

#operations-submit-root-pane #limit {
    -fx-pref-column-count: 8;
}

#operations-submit-root-pane #amount {
    -fx-pref-column-count: 8;
}
