/* This file defines the styles for the operations view. */

#operations-center-pane .progress {
    -fx-background-color: derive(-cf-sec1, 90%);
    -fx-border-width: 0 2 0 0;
    -fx-border-color: derive(-cf-sec1, 80%);
}

#operations-center-pane .line {
    -fx-spacing: 40;
    -fx-padding: 5 50 5 50;
    -fx-min-height: 80;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
    -fx-alignment: center-left;
}

#operations-center-pane .line.completed { -fx-color: -cf-main1; }
#operations-center-pane .line.running { -fx-color: -cf-sec1; }
#operations-center-pane .line.failed { -fx-color: #bebebe; }

#operations-center-pane .line .icon.glyph-icon {
    -fx-min-width: 50;
    -fx-font-size: 50;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-color;
}

#operations-center-pane .line .label {
    -fx-font-size: 18;
    -fx-text-fill: -fx-color;
}

#operations-center-pane .line .summary {
    -fx-min-width: 420;
    -fx-alignment: center-left;
}

#operations-center-pane .line .summary .poppable {
    -fx-font-weight: bold;
}

#operations-center-pane .popover .label {
    -fx-font-size: 16;
}

#operations-center-pane .line .date {
    -fx-min-width: 100;
    -fx-font-size: 16;
}

#operations-center-pane .line .order-status {
    -fx-color: -cf-sec1;
}

#operations-center-pane .line .buttons {
    -fx-spacing: 15;
}

#operations-control-pane { -fx-spacing: 15; }

#operations-control-pane > .btc-price {
    -fx-text-fill: #a39191;
    -fx-font-size: 18;
    -fx-font-weight: 300;
}

.order-props {
    -fx-spacing: 20;
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 600;
    -fx-max-height: 600;
    -fx-background-color: white;
}

.order-props > .icon {
    -fx-padding: 10 50 10 50;
    -fx-min-height: 120;
    -fx-background-position: center;
    -fx-background-size: 120;
    -fx-background-repeat: no-repeat;
}

.order-props .completed { -fx-color: -cf-main1; }
.order-props .running { -fx-color: -cf-sec1; }
.order-props .failed { -fx-color: #bebebe; }


.order-props > .buy-icon { -fx-background-image: url('/icons/buy.png'); }
.order-props > .sell-icon { -fx-background-image: url('/icons/sell.png'); }

.order-props > .summary {
    -fx-padding: 10 50 10 50;
    -fx-font-size: 18;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.order-props > .summary { -fx-text-fill: -fx-color; }

.order-props > .lines {
    -fx-spacing: 0;
}

.order-props > .lines > .line {
    -fx-padding: 10 50 10 50;
    -fx-spacing: 100;
    -fx-alignment: center-left;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
}

.order-props > .lines > .line .prop-name {
    -fx-font-weight: 700;
    -fx-text-fill: #424242;
}

.order-props > .lines > .line .prop-value { -fx-text-fill: #a7a7a7; }

.order-props > .lines > .line.completed .prop-value,
.order-props > .lines > .line.running .prop-value,
.order-props > .lines > .line.failed .prop-value { -fx-text-fill: -fx-color; }
