/* This file defines the styles for the operations view. */

#operations-center-pane .progress {
    -fx-background-color: derive(-cf-sec1, 90%);
    -fx-border-width: 0 2 0 0;
    -fx-border-color: derive(-cf-sec1, 80%);
}

#operations-center-pane .progress-text {
    -fx-alignment: top-left;
}

#operations-center-pane .progress-text .label {
    -fx-text-fill: -cf-sec1;
    -fx-font-size: 9;
}

#operations-center-pane .line {
    -fx-spacing: 40;
    -fx-padding: 5 50 5 50;
    -fx-min-height: 80;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
    -fx-alignment: center-left;
}

#operations-center-pane .line.completed.buy,
#operations-center-pane .line.completed.buy .button {
    -fx-color: -cf-main1;
}

#operations-center-pane .line.completed.sell,
#operations-center-pane .line.completed.sell .button {
    -fx-color: -cf-main2;
}

#operations-center-pane .line.running,
#operations-center-pane .line.running .button {
    -fx-color: -cf-sec1;
}

#operations-center-pane .line.failed,
#operations-center-pane .line.failed .button {
    -fx-color: -cf-gray3;
}


#operations-center-pane .line .icon.glyph-icon {
    -fx-min-width: 50;
    -fx-font-size: 50;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-color;
}

#operations-center-pane .line .label {
    -fx-font-size: 18;
    -fx-text-fill: -fx-color;
}

#operations-center-pane .line .summary {
    -fx-min-width: 420;
    -fx-alignment: center-left;
}

#operations-center-pane .line .summary .poppable {
    -fx-font-weight: bold;
}

#operations-center-pane .popover .label {
    -fx-font-size: 16;
}

#operations-center-pane .line .date {
    -fx-min-width: 100;
    -fx-font-size: 16;
}

#operations-center-pane .line .order-status {
    -fx-color: -cf-sec1;
}

#operations-center-pane .line .order-status .message {
    -fx-font-size: 14;
    -fx-min-height: 27;
    -fx-alignment: bottom-center;
}

#operations-center-pane .line .buttons {
    -fx-spacing: 15;
}

#operations-control-pane { -fx-spacing: 15; }

#operations-control-pane > .btc-price { -fx-alignment: center; }

#operations-control-pane > .btc-price .label {
    -fx-text-fill: #a39191;
    -fx-font-size: 18;
}

.order-props {
    -fx-spacing: 20;
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-background-color: white;
    -fx-padding: 20 0 0 0;
}

.order-props > .icon {
    -fx-icon-size: 120;
    -fx-min-height: -fx-icon-size;
    -fx-min-height: -fx-icon-size;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}
.order-props > .icon.buy.completed { -fx-background-image: url(../graphics/order/buy/completed.gif) }
.order-props > .icon.buy.running { -fx-background-image: url(../graphics/order/buy/running.gif) }
.order-props > .icon.buy.failed { -fx-background-image: url(../graphics/order/buy/failed.gif) }
.order-props > .icon.sell.completed { -fx-background-image: url(../graphics/order/sell/completed.gif) }
.order-props > .icon.sell.running { -fx-background-image: url(../graphics/order/sell/running.gif) }
.order-props > .icon.sell.failed { -fx-background-image: url(../graphics/order/sell/failed.gif) }

.order-props .completed.buy { -fx-color: -cf-main1; }
.order-props .completed.sell { -fx-color: -cf-main2; }
.order-props .running { -fx-color: -cf-sec1; }
.order-props .failed { -fx-color: #bebebe; }

.order-props > .summary {
    -fx-padding: 10 50 10 50;
    -fx-font-size: 18;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.order-props > .summary { -fx-text-fill: -fx-color; }

.order-props > .lines {
    -fx-spacing: 0;
}

.order-props > .lines > .line {
    -fx-padding: 10 50 10 50;
    -fx-spacing: 100;
    -fx-alignment: center-left;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
}

.order-props > .lines > .line .prop-name {
    -fx-font-weight: 700;
    -fx-text-fill: #424242;
}

.order-props > .lines > .line .prop-value { -fx-text-fill: #a7a7a7; }

.order-props > .lines > .line.completed .prop-value,
.order-props > .lines > .line.running .prop-value,
.order-props > .lines > .line.failed .prop-value { -fx-text-fill: -fx-color; }

.order-props .line.footer { -fx-alignment: center; }
.order-props .line.footer .support-icon  { -fx-font-size: 30; }

.wizard .order-type-sel .question {
    -fx-color: #424242;
    -fx-spacing: 5;
    -fx-font-size: 28;
    -fx-min-width: 500;
    -fx-padding: 30;
    -fx-alignment: center;
}

.wizard .order-type-sel .question .label { -fx-text-alignment: center; }
.wizard .order-type-sel .question .support-icon { -fx-font-size: 20; }

.wizard .order-type-sel .options {
    -fx-alignment: center;
    -fx-padding: 30;
    -fx-spacing: 40;
    -fx-font-size: 100;
}

.wizard .order-type-sel .options .glyph-toggle.buy { -cf-color: -cf-main1; }
.wizard .order-type-sel .options .glyph-toggle.sell { -cf-color: -cf-main2; }

.wizard .order-amounts {
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-text-fill: #424242;
}

.wizard .order-amounts .action { -fx-font-size: 22; }
.wizard .order-amounts .btc-input { -fx-max-width: 200; }

.wizard .order-amounts .market-selection {
    -fx-padding: 0 30 0 30;
    -fx-spacing: 15;
}

.wizard .order-amounts .market-selection .support-icon {
    -fx-font-size: 18;
}

.wizard .order-amounts .market-selection .radio-button { -fx-font-size: 18; }

.wizard .order-amounts .market-selection .details {
    -fx-font-size: 14;
    -fx-padding: 0 5 0 30;
    -fx-spacing: 10;
}

.wizard .order-amounts .market-selection .details .price-line {
    -fx-alignment: baseline-left;
    -fx-spacing: 5;
}

.wizard .order-amounts .market-selection .details .fiat-input .symbol { -fx-font-size: 14; }

.wizard .order-amounts .market-selection .details .fiat-input {
    -fx-max-width: 130;
    -fx-min-width: 130;
    -fx-font-size: 14;
}

.wizard .order-amounts .market-selection .details .disclaimer { -fx-font-size: 12; }

.wizard .order-amounts .market-selection .details {
    -fx-alignment: bottom-center;
}

.wizard .order-confirmation {
    -fx-alignment: center;
    -fx-padding: 0 30 0 30;
    -fx-spacing: 15;
}

.wizard .order-confirmation .summary {
    -fx-font-size: 22;
    -fx-max-width: 500;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.wizard .order-confirmation .glyph-icon {
    -fx-text-fill: -cf-main1;
    -fx-font-size: 100;
}
