/* This file defines the colour palette of the application. */

.root {
    /* The background colors. */
    -cf-dark-background: #1a1a1a;
    -cf-background: #c8b9b3;
    -cf-light-background: #f2efed;

    /* The main color palette. */
    -cf-main1: #5dcef9;
    -cf-main2: #ff8654;
    -cf-main1-trans: #5dcef944;
    -cf-main2-trans: #ff865444;

    /* The secondary color palette. */
    -cf-sec1: #5bc1ba;
    -cf-sec2: #c1afe2;
    -cf-sec3: #606060;
}
