/* This file defines the colour palette of the application. */

.root {
    /* The background colors. */
    dark-background: #392b28;
    background: #c8b9b3;
    light-background: #f2efed;

    /* The main color palette. */
    good: #5dcef9;
    bad: #ff8654;

    /* The secondary color palette. */
    col1: #5bc1ba;
    col2: #c1afe2;
    col3: #606060;
}
