// Classes supporting styles defined in `BoxStyles`

.button-col {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.button-col .button {
    -fx-max-width: 99999;
}

.button-row {
    -fx-alignment: center;
    -fx-spacing: 25px;
}

.centered { -fx-alignment: center; }

.inner { -fx-padding: 20px 10px 20px 10px; }

.inner-with-margins { -fx-padding: 20px 50px 20px 50px; }

.minor-spacing { -fx-spacing: 5px; }

.paragraphs {
    -fx-padding: 10px 50px 10px 50px;
    -fx-spacing: 10px;
}

.spaced-grid {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.status-bar {
    -fx-background-color: white;
    -fx-padding: 5 15 5 15;
    -fx-min-height: 35px;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: derive(-cf-background, 50%);
}

.status-bar * {
    -fx-max-height: 65535;
    -fx-alignment: center;
}

.status-bar .label {
    -fx-text-fill: #919191;
}

.textfield-with-button { -fx-spacing: 5px; }

.page {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: derive(-cf-background, 50%);
    -fx-border-radius: 5;
    -fx-spacing: 0;
}

.page > .header {
    -fx-alignment: center;
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: #f5f3f1;
    -fx-min-height: 50;
}

.page > .header > .label {
    -fx-font-size: 16;
    -fx-font-weight: 800;
    -fx-text-fill: -cf-background;
}

.page > .scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.page > .scroll-pane > * {
    -fx-background-color: transparent;
}

.wizard {
    -fx-background-color: white;
    -fx-min-width: 500;
}

.wizard > .header {
    -fx-min-height: 120;
    -fx-spacing: 20;
    -fx-padding: 50 25 10 25;
    -fx-alignment: center;
}

.wizard > .header > .glyph-icon {
    -fx-font-size: 60;
    -fx-text-fill: -cf-sec1;
}

.wizard > .header > .separator {
    -fx-fill: -cf-sec1;
}

.wizard > .footer {
    -fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cf-light-background;
    -fx-border-insets: 15 0 0 0;
    -fx-border-style: segments(3, 2);
    -fx-padding: 25;
    -fx-spacing: 50;
}

.wizard > .footer > .button {
    -fx-color: -cf-main1;
    -fx-min-width: 125;
}
