/* This file defines the styles for the preferences form. */

.payment-processor-preferences {
    -fx-font-size: 14;
    -fx-background-color: white;
    -fx-font-family: 'Open Sans';
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 20 0 0 0;
}

.payment-processor-preferences > * {
    -fx-padding: 10 100 10 100;
    -fx-alignment: center;
}

.payment-processor-preferences .header {
    -fx-font-size: 24;
}

.payment-processor-preferences .description > * { -fx-alignment: bottom-center; }

.payment-processor-preferences .support-icon  { -fx-font-size: 18; }

.payment-processor-preferences .labeled-field {
    -fx-padding: 10 100 40 100;
}

.payment-processor-preferences .footer {
    -fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
    -fx-padding: 25;
    -fx-spacing: 50;
}
