/* This file defines the styles for the preferences form. */

#preferences-root-pane {
    -fx-padding: 0 0 20px 0;
    -fx-alignment: center;
}

#preferences-okpay-details {
    -fx-hgap: 10px;
    -fx-vgap: 15px;
    -fx-alignment: center;
}

#preferences-okpay-userid-field {
    -fx-pref-column-count: 20;
    -fx-min-width: 300px;
}

#preferences-okpay-token-field {
    -fx-pref-column-count: 20;
    -fx-min-width: 300px;
}

#network-tab {
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.network-option {
    -fx-spacing: 15px;
}

.network-option-details {
    -fx-padding: 0 0 0 20px;
    -fx-spacing: 15px;
}

.network-option-details > HBox {
    -fx-spacing: 5px;
    -fx-alignment: baseline-left;
}

.network-port {
    -fx-pref-column-count: 5;
    -fx-max-width: 60px;
}

#okpay-tab {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

