/* This file defines the styles for the setup wizard. */

.wizard .license-pane {
    -fx-max-width: 600;
    -fx-padding: 20 50 20 50;
    -fx-spacing: 25;
}

.wizard .license-pane .label {
    -fx-font-size: 24;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.wizard .license-pane .license-text {
    -fx-border-color: -cf-background;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-max-height: 250;
    -fx-padding: 0 0 0 3;
}

.wizard .faucet-pane {
    -fx-alignment: center;
    -fx-padding: 25 50;
    -fx-spacing: 30;
}

.wizard .faucet-pane .button { -fx-color: -cf-main1; }

.wizard .faucet-pane .label {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-wrap-text: true;
}

.wizard .faucet-pane .title {
    -fx-font-size: 22;
    -fx-font-weight: 400;
}

.wizard .faucet-pane .support-icon { -fx-font-size: 30; }

.wizard .okpay-pane {
    -fx-alignment: center;
    -fx-padding: 25;
    -fx-spacing: 30;
}

.wizard .okpay-pane .label {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-wrap-text: true;
}

.wizard .okpay-pane .subtitle {
    -fx-alignment: center;
}

.wizard .okpay-pane .support-icon { -fx-font-size: 20; }

.wizard .okpay-pane .title {
    -fx-font-size: 22;
    -fx-font-weight: 400;
}

.wizard .okpay-pane .data {
    -fx-alignment: center;
    -fx-padding: 10 100 0 100;
    -fx-spacing: 15;
}

.wizard .okpay-pane .text-field { -fx-font-size: 16; }

