/* This file defines the styles for the setup wizard. */

.wizard .wizard-license-text

.wizard-step-title {
  -fx-font-size: 16;
}

.wizard-error-progressbar {
  -fx-accent: red;
}

.wizard-error-label {
  -fx-text-fill: #da4100;
}

.wizard-progress-indicator-active Label {
  -fx-text-fill: #ffffff;
}

.wizard-progress-indicator-inactive Label {
  -fx-text-fill: #ccc;
}

.wizard-progress-indicator-active Circle {
  -fx-fill: #51350C;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.wizard-progress-indicator-inactive Circle {
  -fx-fill: #aaa;
}

.wizard-progress-indicator Label {
}

#wizard-header-pane {
    -fx-pref-height: 50px;
}

#wizard-header-pane > Label {
    -fx-font-size: 18;
}

#wizard-footer-pane {
    -fx-pref-height: 44px;
}

#wizard-root-pane {
    -fx-pref-width: 540px;
    -fx-pref-height: 320px;
}

.wizard-base-pane {
    -fx-padding: 10px 50px 10px 50px;
    -fx-spacing: 5px;
}

#wizard-password-inputs-pane {
    -fx-padding: 5px 10px 0 10px;
}

#wizard-password-credentials-pane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 0 0 0 20px;
}

#wizard-password-warn-label {
    -fx-pref-height: 35px;
}

#wizard-okpay-inputs-pane {
    -fx-padding: 20px 10px 0 10px;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#wizard-okpaytoken-base-pane {
    -fx-alignment: center;
    -fx-padding: 10px 50px 10px 50px;
}

#wizard-okpaytoken-errorline-pane {
    -fx-padding: 20px 0 0 0;
    -fx-alignment: center-left;
}

#wizard-topup-disclaimer-pane {
    -fx-alignment: baseline-left;
}

#wizard-topup-walletinfo-pane {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

#wizard-topup-address-pane TextField {
    -fx-font-size: 12;
}

#wizard-topup-address-pane {
    -fx-spacing: 5px;
    -fx-alignment: center;

}

#wizard-license-agreement-pane {
    -fx-padding: 5px 20px 0 20px;
}

#wizard-license-agreement-pane VBox {
    -fx-spacing: 10px;
}

#wizard-license-agreement-pane .webview-wrapper {
    -fx-border-color: lightgray;
    -fx-border-radius: 2;
}
