/* This file defines the styles for the splash screen. */

#splash-root {
    -fx-alignment: center;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-min-height: 300px;
    -fx-max-height: 300px;
    -fx-padding: 10px;
    -fx-spacing: 40px;

    -fx-background-color: dark-background;
    -fx-background-image: url("../graphics/splash-logo.png");
    -fx-background-position: center -50px;
    -fx-background-size: 500;
    -fx-background-repeat: no-repeat;
    -fx-alignment: bottom-center;
}

#splash-root .label {
    -fx-text-fill: white;
}

#splash-root .progress-bar {
    -fx-pref-width: 200px;
}

#splash-root .progress-bar:indeterminate > .bar {
    -fx-background-color: dark-background;
}

#splash-root #copyright-note {
    -fx-min-width: 290px;
    -fx-alignment: center-left;
}

#splash-root #version-note {
    -fx-min-width: 290px;
    -fx-alignment: center-right;
}
