/* This file defines the styles for the wallet view. */

#wallet-center-pane .line {
    -fx-spacing: 40;
    -fx-padding: 5 50 5 50;
    -fx-min-height: 80;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
    -fx-alignment: center-left;
    -fx-color: -cf-sec3;
}

#wallet-center-pane .line .icon {
    -fx-min-width: 50;
    -fx-background-position: center;
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
}

#wallet-center-pane .line .label { -fx-text-fill: -fx-color; }
#wallet-center-pane .line .icon {
    -fx-font-size: 50;
    -fx-text-fill: -fx-color;
}

#wallet-center-pane .line .summary {
    -fx-font-size: 18;
    -fx-min-width: 400;
}

#wallet-center-pane .line .date {
    -fx-font-size: 16;
    -fx-font-weight: 300;
    -fx-min-width: 200;
}

#wallet-center-pane .line .buttons {
    -fx-spacing: 15;
    -fx-alignment: center-left;
    -fx-color: -cf-sec3;
}

#wallet-center-pane .button { -fx-color: #bebebe; }

#wallet-control-pane .button { -fx-color: -cf-main1; }
