/* This file defines the styles for the wallet view. */

#wallet-center-pane .line {
    -fx-spacing: 40;
    -fx-padding: 5 50 5 50;
    -fx-min-height: 80;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -cf-light-background;
    -fx-border-style: segments(3, 2);
    -fx-alignment: center-left;
    -fx-color: -cf-sec2;
}

#wallet-center-pane .line .icon {
    -fx-min-width: 50;
    -fx-background-position: center;
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
}

#wallet-center-pane .line .label { -fx-text-fill: -fx-color; }
#wallet-center-pane .line .icon {
    -fx-font-size: 50;
    -fx-text-fill: -fx-color;
}

#wallet-center-pane .line .summary {
    -fx-font-size: 18;
    -fx-min-width: 400;
}

#wallet-center-pane .line .date {
    -fx-font-size: 16;
    -fx-font-weight: 300;
    -fx-min-width: 200;
}

#wallet-center-pane .line .buttons {
    -fx-spacing: 15;
    -fx-alignment: center-left;
    -fx-color: -cf-sec2;
}

#wallet-center-pane .button { -fx-color: #bebebe; }

#wallet-control-pane { -fx-alignment: center; }

#wallet-control-pane .button { -fx-color: -cf-main1; }

/* Styles of the wallet funds dialog */

.wallet-funds {
    -fx-background-color: white;
    -fx-padding: 20 60 40 60;
    -fx-alignment: center;
    -fx-font-size: 16;
}

.wallet-funds .header {
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-padding: 0 0 20 0;
}

.wallet-funds .support-icon {
    -fx-font-size: 28;
}

.wallet-funds .funds-table {
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-font-weight: lighter;
}

.wallet-funds .amount-label {
    -fx-font-size: 12;
    -fx-alignment: bottom-right;
}

.wallet-funds .amount .label {
    -fx-text-fill: -cf-main1;
}

/* Styles of the wallet send dialog */

.wallet-send {
    -fx-background-color: white;
    -fx-font-size: 20;
}

.wallet-send .support-icon { -fx-font-size: 20; }

.wallet-send .form-data {
    -fx-alignment: center;
    -fx-padding: 20 60 40 60;
    -fx-spacing: 20;
}

.wallet-send .line {
    -fx-alignment: center;
    -fx-padding: 20 0 0 0;
}

.wallet-send .button { -fx-color: -cf-main1; }

.wallet-send .text-field {
    -fx-font-size: 16;
    -fx-min-width: 22em;
}

.wallet-send .disclaimer {
    -fx-font-size: 14;
    -fx-padding: 10 0 0 0;
}

.wallet-send .footer {
    -fx-alignment: center;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cf-light-background;
    -fx-border-insets: 15 0 0 0;
    -fx-border-style: segments(3, 2);
    -fx-padding: 30 0 30 0;
    -fx-spacing: 50;
}
