<configuration debug="false">
    <property name="LOG_FILE" value="${COINFFEINE_DATA_DIR}/Coinffeine.log" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="coinffeine" level="DEBUG"/>
    <logger name="coinffeine.overlay.relay" level="INFO"/>
    <logger name="coinffeine.peer.bitcoin.BitcoinPeerActor" level="INFO"/>

    <logger name="com.google.bitcoin" level="ERROR"/>
    <logger name="org.bitcoin" level="ERROR"/>
    <logger name="org.bitcoinj" level="ERROR"/>

    <logger name="com.ning.http" level="ERROR"/>

    <logger name="com.romix.akka.serialization.kryo" level="INFO"/>

    <logger name="akka.actor.LocalActorRefProvider" level="INFO"/>

    <logger name="com.gargoylesoftware.htmlunit" level="OFF"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="OFF"/>
    <logger name="org.apache.commons.httpclient" level="OFF"/>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>
